@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

.header-text {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    color:  black;
    border-radius:30px;
}

header {
    background-color: white;
}

body {
    background-color: rgb(253, 245, 236);
}

.main-text-box {
    background-color: white;
    border-radius:30px;
}

h3{
    font-weight: bold;
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
    border-bottom: 3px solid #c7c6c6;
}

p{
    font-family: 'Noto Sans JP', sans-serif;
}

.box10 {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #00BCD4;
    background: #e4fcff;
    /*背景色*/
    border-top: solid 6px #1dc1d6;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
    /*影*/
    width: 60%;
}

.box10 p {
    margin: 0;
    padding: 0;
}


